table {
    color :#f6f6f6;
    width:100%;
    border-collapse: collapse;
}
th, td, tr {
    color :black;
    text-align: center;
    border: 1px solid black;

}
body {
    background-color: #ef6161;
}